# FastAPI & Server
fastapi
uvicorn
python-multipart

# Security (JWT & Hashing)
python-jose[cryptography]
passlib[bcrypt]

# .env Handling
pydantic-settings

# Database & Admin
sqlmodel
psycopg2-binary
alembic